/* Colores primarios */

.fondoBlanco{
    background-color: white;
}

.fondoNegro{
    background-color: black;
}

.fondoRojo{
    background-color: #FC4D30;
}

.fondoRosa{
    background-color: #F573AF;
}

.fondoNaranja{
    background-color: #FFAA19;
}

/* Colores segundarios */

.fondoGris1{
    background-color: #a9a9a9;
}


.fondoGris2{
    background-color: #d2d3d5;
}

.fondoRosa2{
    background-color: #f5c8e3;
}

/* Colores texto */
.textoRosa{
    color: #F573AF;
}

.textoNaranja{
    color: #FFAA19;
}

