body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/* Header----Nav */

header {
  nav.row {
    padding: 10px 0px 10px 0px;
    img {
      min-width: 140px;
      margin-left: 20px;
    }
  }
  div.links {
    justify-content: space-around;
    padding: 0%;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
  font-weight: lighter;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  font-weight: 600;
}

.custom-toggler.navbar-toggler {
  margin-right: 20px;
  border-color: white;
}
.footer-contenido {
  height: 15vh;
}

.textPresentacion {
  font-size: 1.5rem;
  text-align: center;
  color: #ffaa19;
}
.textTrabajos {
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: black;
}

.textnormal {
  text-align: center;
  line-height: 300%;
  margin-bottom: 20px;
}

.icon-footer {
  background-color: white;
  width: 40px;
  padding: 5px;
  border-radius: 8px;
}
.icon-footer:hover {
  box-shadow: -2px -1px 68px 3px rgba(248, 248, 248, 0.75);
  -webkit-box-shadow: -2px -1px 68px 3px rgba(248, 248, 248, 0.75);
  -moz-box-shadow: -2px -1px 68px 3px rgba(248, 248, 248, 0.75);
}

@media (min-width: 576px) {
  .icon-footer {
    width: 50px;
  }
}

@media (min-width: 768px) {
  .textPresentacion {
    font-size: 2rem;
    text-align: initial;
  }
  .textnormal {
    text-align: initial;
  }
  .icon-footer {
    width: 50px;
  }
}

@media (min-width: 992px) {
  .textPresentacion {
    font-size: 3rem;
    text-align: initial;
  }

  .textnormal {
    font-size: 1rem;
  }
}

#clientesimg {
  max-width: 970px;
}

@import "_styles_servicios.scss";
@import "_styles_clientes.scss";
@import "_styles_contacto.scss";
@import "_coloresFondo.scss";
